body {
   background-color:black;
   font-family: 'Cantarell';
   color:white;
   border: solid #23c1e8 4px;
   background-color: #194d6c;
}

/* Headers */ 

h1 {
   font-size: 2em;
   font-weight:  bold;
   margin: 0.2em;
}

h2 {
    color: #96d400;
       font-size: 1.6em;
}

/* Special divs */

div#error {
    border: solid #A94120 4px;
    background-color: #872E12;
    padding:0.5em;
    font-style:italic;
}

/* Tables */

table {
    width: 100%;
    border-spacing: 0px;
    margin:0;
}

th {
   padding-left:0.4em;
   font-size: 1.3em;
   font-weight:  bold;
   color:#23c1e8;
   text-align:left;
}

td {
    padding-left:0.4em;
}
tr {
    padding:0px;
}

tr:nth-child(even) {
    background-color: #0E3B56;

}
tr:nth-child(odd) {
     background-color: #194d6c;   
}
